
html {
  box-sizing: border-box;
  vertical-align: baseline;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*nav bar*/

body{
	font-family: 'Roboto', sans-sarif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #838994;
	letter-spacing: 0.03em;
}
.content{
	width: 675px;
	height: 70px;
	min-width: 37.5rem;
	padding: 0px 15px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}
.top-navigation{
	top:0;
	position: fixed;
	opacity: .95;
	margin-top: 0px;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
}

.top-navigation .logo{
	height: 70px;
}
.top-navigation .links{
	float: right;
	margin-top: 25px;
}
.top-navigation .links li{
	font-family: 'Roboto';
	display: inline-block;
	margin-left: 10px;
}
.top-navigation .links > .active{
	color: #4c5058;
	font-weight: 600;
}
.top-navigation .links li:hover{
	cursor: pointer;
	transition: color 0.25s ease;
	color: #3D96D1;
}

/** 
 *	introduction section 
 */

.introduction{
	background-image: url('./images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.939rem;
	overflow: auto;
}
.introduction h1, 
.introduction h3{
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1{
	margin-top: 17.5rem;
	margin-bottom: 0;
	font-size: 3.125rem;
}
.introduction h3{
	margin-top: .125rem;
	font-size: 1.563rem;
}

/*
	buttons
*/

.introduction .buttons{
	/*color: white;*/
	text-align: center;
	margin-top: 1.563;
}
.buttons button{
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}

/**
 * The Three Case Images
 */
.cases{
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
	vertical-align: baseline;;
}
.cases > .content{
	margin-top: 7.875rem;
	padding: none;
	color: #1d1e21;
	text-align: center;
}
.cases h2{
	font-size: 2.75rem;
	margin: 1.635rem 0 3.125rem;
	font-weight: 300; 
}
.cases > .content h3{
	font-weight: 300;
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	tex
}
.cases > .content ul{
	list-style: none;
}
.cases > .content ul li{
	text-align: center;
	width: 33.3333333%;
	float: left;
	font-size: 1.563rem;
	font-size: 100px;
}
.cases > .content ul li h3{
	font-size: 1.563rem;
	font-weight: 400;
}











































