/*
	tracking boxes
*/
/*.top-navigation{
	border: 1px solid green;
}
.content{
	border: 2px dotted blue;
}
.logo{
	border: 1px dotted blue;
}
.links{
	border: 1px dashed purple;
}
li{
	border: 1px solid purple;
}*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*nav bar*/

body{
	font-family: 'Roboto', sans-sarif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #838994;
	letter-spacing: 0.03em;
}
.top-navigation{
	background-color: #fff;
}
.top-navigation > .content{
	width: 675px;
	height: 70px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
.top-navigation .logo{
	height: 70px;
}
.top-navigation .links{
	float: right;
	margin-top: 25px;
}
.top-navigation .links li{
	font-family: 'Roboto';
	display: inline-block;
	margin-left: 10px;
}
.top-navigation .links > .active{
	color: #4c5058;
	font-weight: 600;
}
.top-navigation .links li:hover{
	cursor: pointer;
	transition: color 0.25s ease;
	color: #3D96D1;
}
