/*
	tracking boxes
*/
.top-navigation{
	border: 1px solid green;
}
.content{
	border: 2px dotted blue;
}
.logo{
	border: 1px dotted blue;
}
.links{
	border: 1px dashed purple;
}

/*nav bar*/

.top-navigation{
	background-color: #fff;
}
.top-navigation > .content{
	width: 675px;
	height: 70px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
.top-navigation .logo{
	#margin-left: 14px;
	height: 70px;
}
.top-navigation .links{
	float: right;
}
